{% extends 'dashboard.html' %}

{% block content %}


<div style="display:grid;grid-template-columns:1fr;grid-gap:20px;">

<table class="table">
  <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Website</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.website }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
 </div>

{% endblock %}